/* .slider => bxslider style */
.bx-wrapper{
	box-shadow: none;
	border: none;
}

.slider > li{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 220px;
	overflow: hidden;
}
.bx-wrapper img{
	height: 100%;
	width: auto;	
	max-width: none;
}
.slider li img + img{
	margin-left: 28px;
}


/* bx-controls */
.bx-wrapper .bx-controls{
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 206px;
	margin-left: -542px;
}

.section .bx-wrapper .bx-controls{
	left: auto;
	right: 0;
	top: -24px;
	bottom: auto;
}

.bx-wrapper .bx-controls-direction a{
	top: auto;
	bottom: 0;
	margin-top: 0;
	width: 46px;
	height: 46px;
	z-index: 10;
}
.bx-wrapper .bx-prev{
	left: 0;
	background: url("../images/common/btn_prev_black.png") center / cover no-repeat;
}
.bx-wrapper .bx-next{
	left: 104px;
	right: auto;
	background: url("../images/common/btn_next_black.png") center / cover no-repeat;
}
.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus{
	background-position: 0;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto{
	width: 46px;
}

.bx-wrapper .bx-controls-auto .bx-start{
	background: url("../images/common/btn_play.png") center / cover no-repeat;
	width: 46px;
	height: 46px;
	margin: 0;
}
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus{
	background-position: 0;
}

.bx-wrapper .bx-controls-auto .bx-stop{
	background: url("../images/common/btn_stop.png") center / cover no-repeat;
	width: 46px;
	height: 46px;
	margin: 0;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus{
	background-position: 0;
}

.bx-wrapper .bx-pager{
	left: 53px;
	font-size: 18px;
	color: #70706f;
	font-family: 'Noto Sans KR';
	font-weight: normal;
	padding-top: 0;
	height: 46px;
	line-height: 46px;
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto{
	bottom: 0;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{
	text-align: center;
	width: 47px;
}


/* main-slider */
.slider.main-banner > li{
	height: 452px;
}

/* main - section__top */
.section__top .switch{
	display: flex;
	align-items: center;
	font-size: 20px;
}
.switch > span{
	display: inline-block;
	margin-top: 3px;
	color: #c5c5c5;
	line-height: 1;
	font-weight: 500;
}
.switch > span.on{
	color: #000;
}
.switch .btn__switch{
	width: 64px;
	height: 32px;
	padding: 3px;
	margin: 0 16px;
	border-radius: 16px;
	background-color:#109891;
}
.btn__switch span{
	display: block;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background-color: #fff;
}
.btn__switch.right span{
	transform: translateX(32px)
}


/* 혜택 */
.section__benefit .bx-wrapper{
	position: relative;
}
.section__benefit .bx-wrapper .sort-box{
	position: absolute;
	width: 340px;
	height: 340px;
	z-index: 10;
	background-color: #fff;
}
.bx-wrapper .sort-box button{
	padding: 12px;
	background-color: #F2F2F2;
	border-radius: 30px;
	font-size: 15px;
}
.bx-wrapper .sort-box button.on{
	font-weight: 500;
}
.bx-wrapper .sort-box .sort__types button.on{
	background-color: #5DDFDE;
}
.bx-wrapper .sort-box .sort__tags{
	margin-top: 24px;
	display: flex;
	flex-wrap: wrap;
}
.bx-wrapper .sort-box .sort__tags button{
	margin: 5px 4px;
}
.bx-wrapper .sort-box .sort__tags button.on{
	background-color: #000;
	color: #fff;
}


.section__benefit .grid{
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(3, 1fr);
}
.section__benefit > li{
	height: auto;
}
.section__benefit .card__benefit{
	background: center no-repeat;
}
.section__benefit .card__link{
	display: block;
	box-sizing: border-box;
	width: 340px;
	height: 340px;
	border-radius: 30px;
	padding: 30px;
}
.section__benefit .card__cnt-top{
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 12px;
	margin-bottom: 26px;
}
.section__benefit .card__cnt-top > span:first-child{
	display: inline-block;
	background-color: #01A69F;
	color: #fff;
	padding: 0 8px;
	border-radius: 15px;
	line-height: 22px;
}

.section__benefit .card__cnt{
	font-size: 15px;
	line-height: 25px;
	max-width: 76%;
}
.section__benefit .card__cnt strong{
	display: block;
	font-size: 23px;
	font-weight: 700;
	line-height: 30px;
	margin-bottom: 18px;
	word-break:keep-all;
}
.section__benefit .card__cnt p:last-child{
	margin-top: 8px;
}

.section__benefit .bx-wrapper .bx-controls{
	width: 150px
}
.section__benefit .bx-wrapper .bx-pager{
	left: 0;
}

.section__benefit .slider--pg1 .card__benefit:nth-child(2){
	background-image: url("../images/main/benefit-bg-1.png")
}
.section__benefit .slider--pg1 .card__benefit:nth-child(3){
	background-image: url("../images/main/benefit-bg-2.png")
}
.section__benefit .slider--pg1 .card__benefit:nth-child(4){
	background-image: url("../images/main/benefit-bg-3.png")
}
.section__benefit .slider--pg1 .card__benefit:nth-child(5){
	background-image: url("../images/main/benefit-bg-4.png")
}
.section__benefit .slider--pg1 .card__benefit:nth-child(6){
	background-image: url("../images/main/benefit-bg-5.png")
}

.section__benefit .slider--pg2 .card__benefit:nth-child(2){
	background-image: url("../images/main/benefit-bg-6.png")
}
.section__benefit .slider--pg2 .card__benefit:nth-child(3){
	background-image: url("../images/main/benefit-bg-7.png")
}
.section__benefit .slider--pg2 .card__benefit:nth-child(4){
	background-image: url("../images/main/benefit-bg-8.png")
}
.section__benefit .slider--pg2 .card__benefit:nth-child(5){
	background-image: url("../images/main/benefit-bg-9.png")
}
.section__benefit .slider--pg2 .card__benefit:nth-child(6){
	background-image: url("../images/main/benefit-bg-10.png")
}

.section__benefit .slider--pg3 .card__benefit:nth-child(2){
	background-image: url("../images/main/benefit-bg-11.png")
}
.section__benefit .slider--pg3 .card__benefit:nth-child(3){
	background-image: url("../images/main/benefit-bg-12.png")
}
.section__benefit .slider--pg3 .card__benefit:nth-child(4){
	background-image: url("../images/main/benefit-bg-13.png")
}
.section__benefit .slider--pg3 .card__benefit:nth-child(5){
	background-image: url("../images/main/benefit-bg-14.png")
}
.section__benefit .slider--pg3 .card__benefit:nth-child(6){
	background-image: url("../images/main/benefit-bg-15.png")
}

.section__benefit .slider--pg4 .card__benefit:nth-child(2){
	background-image: url("../images/main/benefit-bg-16.png")
}
.section__benefit .slider--pg4 .card__benefit:nth-child(3){
	background-image: url("../images/main/benefit-bg-17.png")
}
.section__benefit .slider--pg4 .card__benefit:nth-child(4){
	background-image: url("../images/main/benefit-bg-18.png")
}
.section__benefit .slider--pg4 .card__benefit:nth-child(5){
	background-image: url("../images/main/benefit-bg-19.png")
}
.section__benefit .slider--pg4 .card__benefit:nth-child(6){
	background-image: url("../images/main/benefit-bg-20.png")
}

/* 5시 핫딜 */
.section__hotdeal .swiper-container{
	max-width: 1084px;
}
.swiper-thumb{
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.swiper-thumb .swiper-slide{
	width: 343px;
}
.swiper-thumb .swiper-slide-thumb-active:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 341px;
	height: 133px;
	border: 1px solid #000;
	border-radius: 25px;
}

/* KT Shop */
.section__ktShop{
	padding: 82px 0;
	background: url("../images/main/bg-color-1.png") left center / cover no-repeat;
}

/* 이벤트 */